	</div>
</div>

<p>
  <center>
  Please help support development and server cost:<br style='clear:both;'/><br style='clear:both;'/>
  BTC: <a href="{{=it.script_name_base}}/btc/address/1LLqMFskaSaZ3w2LuH6dbQaULcy1Bu1b2R">1LLqMFskaSaZ3w2LuH6dbQaULcy1Bu1b2R</a><br style='clear:both;'/>
  PPC: <a href="{{=it.script_name_base}}/ppc/address/PEiZ7r4KR85izAhfzQKJgJxdQkQ6PPXXEX">PEiZ7r4KR85izAhfzQKJgJxdQkQ6PPXXEX</a><br style='clear:both;'/>
  LTC: <a href="{{=it.script_name_base}}/ltc/address/LXzHvrRMQVEHj6gvK4rsZ7HGopgqfxS7PS">LXzHvrRMQVEHj6gvK4rsZ7HGopgqfxS7PS</a><br style='clear:both;'/>
  DOGE: <a href="{{=it.script_name_base}}/doge/address/DLm1XX5JcxQeGL5nXmkFCMJXCorcFQXRnT">DLm1XX5JcxQeGL5nXmkFCMJXCorcFQXRnT</a>
  </center>
  <br/>
  <center><a href="{{=it.script_name_base}}/static/api.txt">API</a> - <a href="mailto:admin@bkchain.org">Contact</a> - <a href="https://github.com/bkchain/bkchain.org">Source code + Static version</a></center>
</p>

{{ if (it.address !== undefined) { }}
<script src="{{=it.source_base}}/static/js/qrcode.js"></script>
<script type="text/javascript">
var keyValuePair = {};
keyValuePair["qrcode_public"] = "{{= it.address.addr }}";
ninja.qrCode.showQrCode(keyValuePair, 5);
</script>
{{ } }}

</body>
</html>

