      <tr>
		<td class="text-center"><a href='{{=it.script_name}}/block/{{= it.block.hash }}'>{{= it.block.height }}</a></td>
{{ if (it.proofofstake !== undefined) { }}
        <td class="text-center">{{= it.block.type.toUpperCase() }}</td>
{{ } }}
		<td class="text-center"><abbr class="timeago" rel="tooltip" data-animation="false" title="{{= it.block.time }}Z">{{= it.block.time }} UTC</abbr></td>
		<td class="text-center">{{= it.block.size }}</td>
		<td class="text-center">{{= it.block.txcount }}</td>
		<td class="text-right">{{= (it.block.out / it.coin_factor).toFixed(2) }}</td>
        <td class="text-right">{{= (it.block.coinage_destroyed / it.coin_factor).toFixed(2) }}</td>
{{ if (it.proofofstake !== undefined) { }}
{{ if (it.block.type == 'pos') { }}
        <td class="text-right">{{= (it.block.stake_amount / it.coin_factor).toFixed(2) }}</td>
{{ } else { }}
        <td class="text-right">N/A</td>
{{ } }}
{{ } }}
		<td class="text-right">{{= (it.block.reward / it.coin_factor).toFixed(2) }}</td>
      </tr>