      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{=it.script_name}}" class="navbar-brand">bkchain</a>
        <div class="navbar-main">
          <ul class="nav nav-pills list-inline">
            <li class="dropdown" id="navbar_currency_dropdown">
              <a href="{{=it.script_name}}" class="dropdown-toggle" data-toggle="dropdown">{{=it.currency}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li{{? '{{=it.currency_short}}' == 'BTC' }} class="active"{{?}}><a href="{{=it.script_name_base}}/btc">Bitcoin</a></li>
                <li{{? '{{=it.currency_short}}' == 'LTC' }} class="active"{{?}}><a href="{{=it.script_name_base}}/ltc">Litecoin</a></li>
                <li{{? '{{=it.currency_short}}' == 'PPC' }} class="active"{{?}}><a href="{{=it.script_name_base}}/ppc">Peercoin</a></li>
                <li{{? '{{=it.currency_short}}' == 'DOGE' }} class="active"{{?}}><a href="{{=it.script_name_base}}/doge">Dogecoin</a></li>
              </ul>
            </li>
{{ if ({{# def.wallet }}) { }}
            <li><a href="#">Wallet <span class="label label-danger">alpha</span></a></li>
{{ } else if ({{#def.static}}) { }}
            <li><a href="wallet_{{=it.currency_short.toLowerCase()}}.html">Wallet <span class="label label-danger">alpha</span></a></li>
{{ } else { }}
            <li><a href="{{=it.script_name}}/wallet">Wallet <span class="label label-danger">exp</span></a></li>
{{ } }}
          </ul>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="mainNav">
{{ if ({{#def.static}}) { }}
        <form class="navbar-form navbar-right form-inline" method="post" onsubmit="main_search(); return false;">
{{ } else { }}
        <form class="navbar-form navbar-right form-inline" method="get" action="{{=it.script_name}}/search">
{{ } }}
          <div class="form-group"><input type="text" class="form-control" id="search" name="search" placeholder="block id, block hash, transaction hash or address ({{=it.currency_short}})"/></div>
          <button type="submit" class="btn btn-success">Search</button>
        </form>
      </div>